.row{
    padding: 20px;

}
div{


  background-color: rgb(216, 229, 233);

}
h1,h3{
    display: inline;
}
#edu{
  font-weight: bold;
    font-size: 28px;
}



#desc{
  font-weight: bold;
    font-size: 18px;
}
