<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
<ul>
    <li>
        <h1>Trabajo 1</h1> - <h3>years)</h3>
    </li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae consectetur quisquam, earum accusamus repellendus voluptates rerum autem quos asperiores odio. Doloremque, consequuntur amet! Unde laudantium praesentium reprehenderit omnis, facere quae.</p>
</ul>
<ul>
    <li>
        <h1>Trabajo 2</h1> - <h3>years)</h3>
    </li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae consectetur quisquam, earum accusamus repellendus voluptates rerum autem quos asperiores odio. Doloremque, consequuntur amet! Unde laudantium praesentium reprehenderit omnis, facere quae.</p>
</ul>
<ul>
    <li>
        <h1>Trabajo 3</h1> - <h3>years)</h3>
    </li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae consectetur quisquam, earum accusamus repellendus voluptates rerum autem quos asperiores odio. Doloremque, consequuntur amet! Unde laudantium praesentium reprehenderit omnis, facere quae.</p>
</ul>
</div>
</div>