<div class="row">

    <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged" >
     Editar Persona
    </button>


    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/fotoformal.png" alt="" class="img-fluid" id="fotodeperfil">
        <img src={{persona.img}} alt="" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="full">"Full Stack Developer Jr."</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-8">
        <span>
            <h1>Acerca de mi:</h1>
            <p id="desc">{{persona.descripcion}}</p>

        </span>
    </div>

</div>
