.row {
    padding: 20px ;
}
div {
background-color: rgb(178, 218, 231);
text-align: center;
}
#nombre{
    font-weight: bold;
    font-size: 26px;
    margin-top: 40%;
    margin-left: 10px;
}
#full{
  font-weight: bold;
    font-size: 18px;

    margin-left: 2px;

}

#desc{
  font-weight: bold;
    font-size: 18px;
}
#fotodeperfil{
    position: absolute;
    width: 15%;
    border-radius: 180%;
    left: 5%;
    top: 700px;

    }

