<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/img.jpg" alt="" class="img-fluid">
 
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Di Prinzio Elvio</p>
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iste soluta officia aliquid esse magni amet illo sunt fugiat vero libero quibusdam fugit, aliquam similique necessitatibus at repellendus perspiciatis ullam.
            </h2>
            
        </span>
    </div>

</div>
