<div class="row">
<h1>Proyecto realizado</h1>
<div class="container">
    <div>
        <h1>Portfolio</h1>
        <p id="pro"> Proyecto Integrador Portfolio Web Full Stack
          #YoProgramo.
          Se Desarrolló una aplicación web full stack, que muestra: datos personales, estudios cursados, experiencia laboral, conocimiento de las
          tecnologías y lo que se desee agregar. Es decir, se creó un propio portfolio web. Esta aplicación es de arquitectura distribuida y contiene un
          diseño de interfaz de usuario (front end) que muestra la información, una base de datos que almacena los datos antes mencionados y cuenta
          con las APIs necesarias para proveer a través de internet la información (back end)</p>
    </div>

</div>
</div>


