img {
  height: 200px;
  width: 1500px;

}
.butt{
  /*float: left;*/
  position: absolute;
  top: 175px;
  text-align: left;
  font-size: 22px;

}

.button {

  position: absolute;
  top: 165px;
  text-align: right;
  font-size: 26px;
}


